<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unit Converter - Temperature</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<h1>Unit Converter</h1>

<div class="nav-links">
    <a href="/length">Length</a>
    <a href="/weight">Weight</a>
    <a href="/temperature" class="active">Temperature</a>
</div>

<form action="/temperature" method="POST">

    <div class="form-group">
        <label>Enter the temperature to convert</label>
        <input type="number" step="any" name="convertable" required/>
    </div>

    <div class="form-group">
        <label>Unit to Convert from</label>
        <select name="startUnit" required>
            <option value="celsius">Celsius</option>
            <option value="fahrenheit">Fahrenheit</option>
            <option value="kelvin">Kelvin</option>
        </select>
    </div>

    <div class="form-group">
        <label>Unit to Convert to</label>
        <select name="targetUnit" required>
            <option value="celsius">Celsius</option>
            <option value="fahrenheit">Fahrenheit</option>
            <option value="kelvin">Kelvin</option>
        </select>
    </div>

    <button type="submit">Convert</button>
</form>

<div class="result-section" th:if="${msg != null}">
    <h3>Result of your calculation</h3>
    <h2 th:text="${msg}"></h2>
    <a href="/temperature">
        <button type="button">Reset</button>
    </a>
</div>

</body>
</html>